__pycache__/
*.pyc
.DS_Store
.portal.pid
.daq.pid
.musashi_ii.pid
.musashi_iv.pid
.plotter.pid
.llm_interpret.pid
.influxdb_mgr.pid
services/daq_usb4716/.daq_process.pid
services/daq_usb4716/.daq_process.mode
services/daq_usb4716/daq_pipeline.log
services/daq_usb4716/.daq_desired_state.json
services/musashi_ii/.musashi_ii_process.pid
services/musashi_ii/.musashi_ii_process.mode
services/musashi_ii/.musashi_ii_desired_state.json
services/musashi_ii/musashi_ii_pipeline.log
services/musashi_iv/.musashi_desired_state.json
services/musashi_iv/.musashi_iv_process.pid
services/musashi_iv/.musashi_iv_process.mode
services/musashi_iv/musashi_iv_pipeline.log
*.log
*.db
venv/
.venv/
.uv/
pgdata/
